<table>
  <% @post.post_comments.each do |post_comment| %>
   <tr>
    <td><%= link_to user_path(post_comment.user) do %>
     <%= attachment_image_tag(post_comment.user, :user_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %><br>
     <%= post_comment.user.name %>
     <% end %>
    </td>

    <td><%= post_comment.comment %></td>
    <% if post_comment.user == current_user %>
     <td><%= link_to 'Distroy', post_post_comment_path(post_comment.post_id, post_comment.id), class: 'btn-sm btn-danger', method: :delete %></td>
    <% end %>
   </tr>
  <% end %>
</table>

<%= form_with(model:[@post, @post_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5' %><br>
  <%= f.submit "送信" %>
<% end %>